@{
    @model IEnumerable<Instructor>;

    <h1>Instructor List</h1>


    <table class="table table-dark">

        <tr>
            <th colspan="7">Instructor</th>
        </tr>

        <tr>
            <td>Name</td>
            <td>Is Tenured</td>
            <td>Rank</td>
            <td>Hiring Date</td>
            <td>Details</td>
            <td>Update</td>
            <td>Delete</td>
        </tr>
        @foreach (var instructor in Model)
        {
            <tr>
                <td>@instructor.FirstName @instructor.LastName</td>
                <td>@instructor.IsTenured</td>
                <td>@instructor.Rank</td>
                <td>@instructor.HiringDate</td>
                <td><a class="btn btn-primary" asp-route-id="@instructor.Id" asp-action="ShowDetails">Show Details</a></td>
                <td><a class="btn btn-info" asp-route-id="@instructor.Id" asp-action="UpdateInstructor">Update Instructor</a></td>
                <td><a class="btn btn-danger" asp-route-id="@instructor.Id" asp-action="DeleteInstructor">Delete Instructor</a></td>
            </tr>
        }
    </table>
    <button type="submit" class="btn btn-primary"><a class="text-light" asp-area="" asp-controller="Instructor" asp-action="AddInstructor">Add Instructor</a></button>
}


