
@{
    @model IEnumerable<Student>;

    <h1>Student List</h1>

    <table class="table table-dark">
    
        <tr>
            <th colspan="7">Student</th>
        </tr>

        <tr>
            <td>Name</td>
            <td>Course</td>
            <td>Admission Date</td>
            <td>Email</td>
            <td>GPA</td>
            <td>Details</td>
            <td>Update</td>

        </tr>
        @foreach (var student in Model)
        {
            <tr>
                <td>@student.FirstName @student.LastName</td>
                <td>@student.Course</td>
                <td>@student.AdmissionDate</td>
                <td>@student.Email</td>
                <td>@student.GPA</td>
                <td><a asp-action="ShowDetail" asp-route-id="@student.Id">Show Details</a></td>
                <td><a asp-action="UpdateStudent" asp-route-id="@student.Id">Update Student</a></td>
            </tr>
        }
    </table>
    <button type="submit" class="btn btn-primary"><a class="text-light" asp-area="" asp-controller="Student" asp-action="AddStudent">Add Student</a></button>
    
}

